<div class="wrapper">
    <div class="sidebar" data-color="white" data-active-color="danger">
        <app-sidebar-cmp></app-sidebar-cmp>
    </div>
    <div class="main-panel">
        <navbar-cmp></navbar-cmp>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
        <footer-cmp></footer-cmp>
    </div>
</div>
<!-- <fixedplugin-cmp></fixedplugin-cmp> -->
<!-- <div class="content p-4">
  <router-outlet></router-outlet>
</div> -->
