.login-image{
  background-image: url('../../../../assets/img/hilos.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.format {
  width: 20%;
  margin-left: 40%;
  top:35%;
  position: fixed;
}
.img-size{
 width: 100%;
 height: 40.8756em;
}
#bgiv {
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}
