<div *ngIf="loading">
  <app-loader></app-loader>
</div>
<div class="wrapper login-image" id="bgDiv">
  <!-- <img src="../../../../assets/img/hilos.jpg" class="img-size"/> -->
  <mat-card class="format">
    <mat-card-title>
      <p style="text-align: center">Prosanor Telas</p>
    </mat-card-title>
    <mat-card-content>
      <div fxLayout="column" fxLayoutGap="1em">
        <form #form="ngForm" (ngSubmit)="doLogin()" [formGroup]="loginGroup" novalidate>
          <input type="text" class="form-control mb-2" formControlName="userName" placeholder="Usuario"
            style="margin: 2px;" />
          <input type="password" class="form-control mb-2" placeholder="Contraseña" formControlName="password"
            style="margin: 2px;" />
          <div fxLayout="row" fxLayoutGap="1em">
            <span fxFlex></span>
            <button mat-raised-button class="btn btn-primary" type="submit">Ingresar</button>
          </div>
        </form>
      </div>
    </mat-card-content>
  </mat-card>
</div>
