<app-view [title]="'Lista de empleados:'" [showAdd]="true" [showDelete]="true" [addRoute]="'employee/employeeForm'">
  <app-grid [columns]="columns"
            [showPager]="true"
            [editRoute]="'employee/employeeForm'"
            [mod]="'employee'"></app-grid>
  </app-view>
