<app-view [title]="title" [showAdd]="false" [showDelete]="false">
    <form #form="ngForm" [formGroup]="testGroup" (ngSubmit)="saveOrUpdate()" novalidate>

      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>Pics</label>
            <input formControlName="Pics" type="number" class="form-control border-input" placeholder="Pics">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Nombre</label>
            <input formControlName="machineName" type="text" class="form-control border-input" placeholder="Nombre">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Nombre</label>
            <input formControlName="trama" type="number" class="form-control border-input" placeholder="Trama">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 text-right">
          <button type="button" class="btn btn-secondary" (click)="back()">Cancelar</button>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
      </div>
    </form>

  </app-view>
