<app-view [title]="title" [showAdd]="false" [showDelete]="false">
    <div class="row">
        <div class="col-md-12 text-right">
            <button class="btn btn-excel" (click)="exportExcel()"><img src="../../../assets/img/excel.svg" alt=""></button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
              <h5 class="card-title text-center">Metros</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card ">
                <div class="card-header ">
                    <p class="card-category">Operadores</p>
                </div>
                <div class="card-body ">
                    <canvas id="chartMetersOperator"></canvas>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card ">
                <div class="card-header ">
                    <p class="card-category">Maquinas</p>
                </div>
                <div class="card-body ">
                    <canvas id="chartMetersMachine"></canvas>
                </div>
            </div>
        </div>
       
    </div>

    <div class="row">
        <div class="col-md-12">
            <h5 class="card-title text-center">Urdimbre</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card ">
                <div class="card-header ">
                    <p class="card-category">Operadores</p>
                </div>
                <div class="card-body ">
                    <canvas id="chartUrdimbreOperator"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card ">
                <div class="card-header ">
                    <p class="card-category">Maquinas</p>
                </div>
                <div class="card-body ">
                    <canvas id="chartUrdimbreMachine"></canvas>
                </div>
            </div>
        </div>
    </div>
</app-view>