<app-view [title]="'Horarios disponibles:'" [showAdd]="true" [showDelete]="true" [addRoute]="'employee/schedule/form'"  > 
  <app-grid [data]="data" [columns]="columns" [showPager]="true" [editRoute]="'employee/schedule/form'"></app-grid>
</app-view>