<app-view [title]="title" [showAdd]="false" [showDelete]="false">
  <form class="p-4" #form="ngForm" [formGroup]="testGroup" (ngSubmit)="saveOrUpdate()" novalidate>
    <div class="row">
      <div class="col-md-6">
        <mat-slide-toggle formControlName="isactive">Status: Activo</mat-slide-toggle>
      </div>
      <div class="col-md-6">
        <label>Horario</label>
        <select class="form-control" formControlName="blockType" (change)="saveSchedule()">
          <option selected [value]="-1">Selecciona el tipo</option>
          <option  *ngFor="let item of schedules" value="{{item.id}}">{{item.name}}/ {{item.type}} /{{item.block}} /{{item.turn}}</option>
      
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Nombre(s)</label>
          <input formControlName="FirstName" type="text" class="form-control border-input" placeholder="Nombre(s)">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Apellido(s)</label>
          <input formControlName="LastName" type="text" class="form-control border-input" placeholder="Apellido(s)">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="exampleInputEmail1">Email</label>
          <input formControlName="email" type="email" class="form-control border-input" placeholder="Email">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="exampleInputEmail1">Telefono</label>
          <input formControlName="phone" type="text" class="form-control border-input" placeholder="Telefono">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>Address</label>
          <input formControlName="address" type="text" class="form-control border-input" placeholder="Direccion">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-right">
        <button type="button" class="btn btn-secondary" (click)="back()">Cancelar</button>
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </form>

</app-view>