<app-view [title]="title" [showAdd]="false" [showDelete]="false">

  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Accion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <th scope="row"> {{ employee.id }} </th>
        <td>{{ employee.first_name }}</td>
        <td>{{ employee.last_name }}</td>
        <td>
          <button type="button" class="btn btn-info mr-2" (click)="getMachines(employee)" data-toggle="modal" data-target="#machinesModal">
              <i class="material-icons">view_list</i>
          </button>
          <button type="button" class="btn btn-success" (click)="getMachines(employee)" data-toggle="modal" data-target="#machinesModalFill">
              <i class="material-icons">add</i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="modal fade" id="machinesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Maquinas</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Metros</th>
                  <th scope="col">Urdimbre</th>
                  <th scope="col">Lunch</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let machine of employeeMachines">
                  <th scope="row"> {{ machine.id }} </th>
                  <td>{{ machine.name }}</td>
                  <td><input type="text" class="form-control border-input"></td>
                  <td><input type="text" class="form-control border-input"></td>
                  <td>
                    <select class="form-control">
                      <option value="1">Si</option>
                      <option value="0">No</option>
                    </select>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

</app-view>