<app-view [title]="title">
  <form #form="ngForm" (ngSubmit)="saveOrUpdate()" [formGroup]="userGroup" novalidate>
    <div class="container">
      <div class="row mt-1">
        <div class="col-md-3">
          <input type="text" placeholder="Nombre de horario" class="form-control" formControlName="schName" />
        </div>
        <div class="col-md-3">
          <select class="form-control" formControlName="schType" (change)="setTunrn()">
            <option selected [value]="-1">Selecciona el tipo</option>
            <option value="1">12 Horas</option>
            <option value="2">8 Horas</option>
          </select>

        </div>
        <div class="col-md-3">
          <select class="form-control" formControlName="blockType">
            <option selected [value]="-1">Selecciona el tipo</option>
            <option value="1">Lunes-Jueves</option>
            <option value="2">Vierens-Domingo</option>
          </select>
        </div>
        <div class="col-md-3">
          <select class="form-control" formControlName="TypeTurn" >
            <option selected [value]="-1">Selecciona el tipo</option>
            <option  *ngFor="let item of turnos"  value="{{item.name}}">{{item.name}}</option>

          </select>
        </div>
      </div>
      <div class="row" style="margin: 2%;">
        <div class="col-md-12 text-right">
          <button class="btn btn-secondary" type="button" (click)="back()">Cancelar</button>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
      </div>
    </div>
  </form>
</app-view>