<div *ngIf="loading">
  <app-loader></app-loader>
</div>
<app-view [title]="'Roles'" [addRoute]="addRoute" [showAdd]="true" [showDelete]="true">
  <app-grid [data]="data" [editRoute]="addRoute" [showActions]="false" [showPager]="false" [columns]="columns"></app-grid>
</app-view>
