<mat-card>
  <form #form="ngForm" fxLayout="column" [formGroup]="testGroup" (ngSubmit)="saveOrUpdate()" novalidate>
    <div fxLayout="row" fxLayoutGap="1em">
      <mat-form-field fxLayoutGap="1em" fxflex="25%" class="space">
        <input matInput placeholder="Name" formControlName="name" />
      </mat-form-field>
      <mat-form-field fxLayoutGap="1em" fxflex="25%" class="space">
        <input matInput placeholder="Last Name" formControlName="lastName" />
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutGap="1em">
      <mat-form-field fxLayoutGap="1em" fxflex="25%" class="space">
        <input matInput placeholder="Address" formControlName="address" />
      </mat-form-field>
      <mat-form-field fxLayoutGap="1em" fxflex="25%" class="space">
        <input matInput placeholder="email" formControlName="email" />
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutGap="1em">
      <mat-form-field fxLayoutGap="1em" fxflex="25%" class="space">
        <input matInput placeholder="Phone number" formControlName="phone" />
      </mat-form-field>
      <mat-form-field fxLayoutGap="1em" fxflex="25%" class="space">
        <input matInput placeholder="Control number" formControlName="controlNumber" />
      </mat-form-field>
    </div>
    <div fxLayout="row">
      <button mat-raised-button color="primary" type="submit">Save</button>
    </div>
  </form>
</mat-card>
