<div *ngIf="loading">
  <app-loader></app-loader>
</div>
<app-view [title]="title">
  <form #form="ngForm" (ngSubmit)="saveOrUpdate()" [formGroup]="userGroup" novalidate>
    <div class="container">
      <div class="row" style="margin: 2%;">
        <div class="col-sm">
          <label>Nombre de usuario</label>
          <input type="text" placeholder="nombre" class="form-control" formControlName="userName" />
        </div>
        <div class="col-sm">
          <label>Contraseña</label>
          <input type="password" placeholder="Contraseña" class="form-control" formControlName="password" />
        </div>

      </div>
      <div class="row" style="margin: 2%;">
        <div class="col-sm">
          <label>Empleados</label>
          <select class="form-control" id="employeeSelect" formControlName="employee">
            <option selected [value]="-1">Elegir empleado</option>
            <option *ngFor="let e of employees" [value]="e.id">{{ e.first_name }}</option>
          </select>
        </div>
        <div class="col-sm">
          <label>Roles</label>
          <select class="form-control" id="roleSelect" formControlName="role">
            <option selected [value]="-1">Elegir rol</option>
            <option *ngFor="let r of roles" [value]="r.id">{{ r.name }}</option>
          </select>
        </div>
      </div>
      <div class="row" style="margin: 2%;">
        <span fxFlex></span>
          <button class="btn btn-secondary" type="button" (click)="back()">Cancelar</button>
          <button type="submit" class="btn btn-primary" style="margin-right: 2%;">Guardar</button>
        </div>
    </div>
  </form>
</app-view>
