<app-view [title]="'Lista de maquinas:'" [showAdd]="true" [showDelete]="true" [addRoute]="'machine/machineForm'">
    <app-grid [data]="data" [columns]="columns" [showPager]="true" [editRoute]="'machine/machineForm'"></app-grid>
</app-view>
  