<div *ngIf="loading">
<app-loader></app-loader>
</div>
<app-view>
  <div class="row">
    <div class="col-md-6 p-0">
      <app-view [title]="getTitle()" class="col-md-12">
        <form #form="ngForm" [formGroup]="teamGroup" novalidate>
          <div class="container">
            <div class="row" style="margin: 2%;">
              <div class="col-sm">
                <label>Nombre</label>
                <input type="text" placeholder="indique un nombre" class="form-control" formControlName="name" #name [ngClass]="{'red-border-class': name.errors}" />
              </div>
            </div>
            <div class="row" style="margin: 2%;">
              <div class="col-sm">
                <label>Supervisores</label>
                <select class="form-control" id="operatorsSelect" formControlName="operatorsSelect">
                  <option selected [value]="-1">Elegir Supervisor</option>
                  <option *ngFor="let o of operators" [value]="o.id">{{ o.first_name }}</option>
                </select>
              </div>
            </div>
            <div class="row" style="margin: 2%;">
              <div class="col-sm">
                <label>Horarios</label>
            <select class="form-control" id="scheduleSelect" formControlName="scheduleSelect">
              <option selected [value]="-1">Elegir Horario</option>
              <option *ngFor="let s of schedules" [value]="s.id">{{ s.name }}</option>
            </select>
            </div>
          </div>
          </div>
        </form>
      </app-view>
    </div>
    <div class="col-md-6 p-0">
      <app-view [title]="'Empleados disponibles'">
        <app-grid [data]="employees" [columns]="columns" [allowAdd]="true" (action)="add($event)"></app-grid>
      </app-view>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 p-0">
      <app-view [title]="'Miembros del equipo'">
        <div class="container">
          <div class="row" *ngFor="let e of teamEmployees">
            <div class="col-md-1 p-0 format"><button mat-icon-button (click)="delete(e)"><i style="color: red;"
                  class="material-icons">remove_circle</i></button>{{ e.first_name }}</div>
                  <div *ngFor="let em of e.machines; let i = index" class="col-md-2 p-1 format">
                    <select class="form-control" [(ngModel)]="e.machines[i]">
                      <option *ngFor="let m of machines" [value]="m.id">
                        {{ m.name }}
                      </option>
                    </select>
                  </div>

            <div class="col-md-1 p-0"><button mat-icon-button color="primary" (click)="showExtra(e)"><i
                  class="material-icons">add_circle</i></button></div>
          </div>
        </div>
      </app-view>
    </div>
  </div>
  <div class="row p-2">
    <button class="btn btn-secondary" (click)="back()">Cancelar</button>
    <button class="btn btn-primary" (click)="saveOrUpdate()">Guardar</button>
  </div>
</app-view>
