<div *ngIf="loading">
<app-loader></app-loader>
</div>
<app-view [title]="title" [showDelete]="true" [addRoute]="addRoute" [showAdd]="true" [showDelete]="true">
  <app-grid [data]="data" [columns]="columns" [editRoute]="addRoute" [showPager]="true"></app-grid>
</app-view>
