<app-view [title]="'Permisos'">
  <div class="row">
    <div class="col-md-6 p-0">
      <div class="column">
        <div *ngFor="let p of Permissions">
          <mat-checkbox> </mat-checkbox>
        </div>
      </div>
    </div>
  </div>
</app-view>
