<app-view [title]="title">
  <form #form="ngForm" [formGroup]="goalGroup" novalidate>
    <div class="container">
      <div class="row">
        <!-- <div class="col-md-12"  style="margin: 2%;">
          <input type="text" class="form-control" placeholder="Nombre" formControlName="name" />
        </div> -->
        <div class="col-md-12"  style="margin: 2%;">
          <textarea class="form-control" placeholder="Descripción" formControlName="description"></textarea>
        </div>
      </div>
    </div>
  </form>
</app-view>
