<app-view [title]="'Roles'">
  <div class="row">
    <form #form="ngForm" (ngSubmit)="saveOrUpdate()" novalidate [formGroup]="rolesGroup">
      <div class="container">
        <div class="row" style="margin: 2%;">
          <div class="col-sm">
            <label>Nombre</label>
            <input type="text" placeholder="indique un nombre" class="form-control" formControlName="name" #name />
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <label><b>Usuarios</b></label>
            <div class="row">
              <mat-slide-toggle style="margin: 5%;" *ngFor="let p of permissions.user"
               (change)="addPermission('user', p)" [formControlName]="'user' + p">{{ p }}</mat-slide-toggle>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <label><b>Empleados</b></label>
            <div class="row">
                <mat-slide-toggle style="margin: 5%;" *ngFor="let p of permissions.user"
                (change)="addPermission('employee', p)" [formControlName]="'employee' + p">{{ p }}</mat-slide-toggle>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <label><b>Horarios</b></label>
            <div class="row">
                <mat-slide-toggle style="margin: 5%;" *ngFor="let p of permissions.user"
                (change)="addPermission('schedule', p)" [formControlName]="'schedule' + p">{{ p }}</mat-slide-toggle>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <label><b>Maquinas</b></label>
            <div class="row">
                <mat-slide-toggle style="margin: 5%;" *ngFor="let p of permissions.user"
                (change)="addPermission('machine', p)" [formControlName]="'machine' + p">{{ p }}</mat-slide-toggle>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <label><b>Equipos</b></label>
            <div class="row">
                <mat-slide-toggle style="margin: 5%;" *ngFor="let p of permissions.user"
                (change)="addPermission('team', p)" [formControlName]="'team' + p">{{ p }}</mat-slide-toggle>
            </div>
          </div>
        </div>
        <div class="row">
          <button class="btn btn-secondary" type="button" (click)="back()">Cancelar</button>
          <button class="btn btn-primary"  type="submit">Guardar</button>
        </div>
      </div>
    </form>
  </div>
</app-view>
